<div class="card">
    <h5 class="card-header">Danh sách đã đọc</h5>
    <div class="card-body">
      <button class="btn btn-primary" routerLink="/">Trang chủ</button>
      <table class="table table-bordered">
        <tbody>
          <tr *ngFor="let book of books; let i = index">
            <td *ngIf="!book.read">{{ book.name }}</td>
            <td *ngIf="!book.read">
              <button class="btn btn-warning">Đọc lại</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" routerLink="/book-read">
        Danh sách đọc
      </button>
    </div>
  </div>
  