<a routerLink="/">Trang chủ</a>
<table class="table table-bordered">
    <thead>
        <tr style="text-align: center; font-weight: bold;">Danh sách đọc</tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books ; let i = index">
        <td *ngIf="book.read">{{ book.name }}</td>
        <td *ngIf="book.read"><button (click)="changeRead(book.id)">Đã đọc</button></td>
      </tr>
      <tr>
          <input type="text">
          <button type="submit">thêm</button>
      </tr>

    </tbody>
  </table>
  <a routerLink= "/book-reading">Danh sách đã đọc</a>
